
/* MOBILE VIEW */

.favourites-container {
    padding: 1rem;
    text-align: center;
}
h1 {
    padding-top: 5rem;
    text-align: center;
}

p {
    text-align: center;
}

.favourites-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem; /* 1 column for very small screens */
}

/* TABLET VIEW */
@media (min-width: 25rem) {
    .movies-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 columns for smaller screens */
    }

}

/* TABLET VIEW */
@media (min-width: 40.625rem) {
    .movies-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 columns for smaller screens */
    }
    .movie-info h2 {
        font-size: 1.2rem;
    }
}

/* DESKTOP VIEW */
@media (min-width: 62.5rem) {
    .movies-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* 3 columns for smaller screens */
    }
    .movie-info {
        display: none;
    }
}

/* DESKTOP VIEW */
@media (min-width: 81.25rem) {
    .movies-grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr); /* 3 columns for smaller screens */
    }
    .movie-info {
        display: none;
    }
}

/* DESKTOP VIEW */
@media (min-width: 100rem) {
    .movies-grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr); /* 3 columns for smaller screens */
        padding: 5rem;
    }
    .movie-info {
        display: none;
    }
}

