#single-movie-hero {
  padding: 6rem 1rem 1rem;
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

#single-movie-hero::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    to bottom,
    #00000095 0%,
    #00000095 75%,
    #1a1919 100%
  );
}

#single-movie-hero .single-movie-details-container {
  
  opacity: 1;
  position: relative;
  z-index: 10;
}

.s-movie-image img {
  max-width: 100%;
  max-height: 30rem;
  border-radius: 12px;
  display: block;
  margin: 0 auto;
  box-shadow: 8px 8px 16px rgba(34, 34, 34, 0.4),
    -8px -8px 16px rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease-in-out;
}

.emdeb-trailer,
.single-movie-cast,
.single-movie-similar {
  margin: clamp(1rem, 5vw, 2.5rem);
}

.emdeb-trailer iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9; 
}

.s-movie-description h3 {
  font-size: 1.4rem;
  color: #ffffff;
}

.s-movie-description p {
  font-size: 1rem;
  color: #ffffff;
  text-align:left
}

p.date{
  font-size: 1.4rem;
}
.s-movie-rating{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem;
}


@media (min-width: 50em) {
  #single-movie-hero {
    height: 100vh;
  }

  .single-movie-details-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: left;
    background-color: transparent;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin-bottom: 30px;
    box-sizing: border-box;
  }

  .s-movie-image {
    flex: 1;
    max-width: 70%;
    padding: 10px;
  }

  .s-movie-description {
    flex: 1;
    max-width: 50%;
    padding: 1rem 2rem;
    background-color: #1a191995;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(26, 25, 25, 0.3);
      
  }

  .s-movie-image img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 8px 8px 16px rgba(210, 205, 205, 0.4),
      -8px -8px 16px rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease-in-out;
  }

  .s-movie-description h3 {
    font-size: 1.8rem;
    color: #ffffff;
  }

  .s-movie-description p {
    font-size: 1.2rem;
    color: #ffffff;
    margin-bottom: 10px;
  }
  .emdeb-trailer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem;
    font-size: 1.6rem;
  }
  .emdeb-trailer iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    border-radius: 20px;
    box-shadow: 8px 8px 16px rgba(210, 205, 205, 0.4),
      -8px -8px 16px rgba(255, 255, 255, 0.1);
    max-width: 60rem;
  }

  .s-movie-rating{
    justify-content: left;
    gap: 2rem;
  }

  .rating-circle svg {
    width: auto; 
    height: 80px; 
  }
}

.single-movie-cast h2 {
  text-align: center;
}

.cast-list {
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  border-radius: 20px;
  background-color: #1a191995;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgba(26, 25, 25, 0.3);
}
