
  .tab-list {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    width: 100%;
    padding: 10px 0;
    border-radius: 8px;
    list-style: none;
    margin: 0;
    padding: 1rem 6rem;
}

.tab {
    flex: 1; 
    text-align: center;
    padding: 1rem 0.5rem;
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.tab[aria-selected="true"] {
    color: #f82a2a;
    border: 3px solid #f82a2a;
    border-radius: 10px;
    background-color: #242424;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.503);
    
}

.tab[input="radio"] {
    display: none;
}

.tab:hover {
    color: #a0210b;
}

/* Mobile styles */
@media (max-width: 600px) {
  .tab-list {
      flex-direction: column;
      align-items: stretch;
      padding: 0 2rem;
  }

  .tab {
      padding: 10px;
      font-size: 1.1rem;
  }
  .tab[aria-selected="true"] {
    color: #f82a2a;
    border: 2px solid #f82a2a;
    /* border-bottom: 2px solid #f82a2a; */
    margin: 0 2rem;
    border-radius: 10px;
    background-color: #242424;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.503);
}
}

/* Tablet styles */
@media (min-width: 601px) and (max-width: 900px) {
  .tab-list {
      flex-direction: row;
      flex-wrap: wrap;
  }

  .tab {
      flex: 1 1 50%; 
      padding: 10px;
      font-size: 1.3rem;
  }
  
}
